doctype html
head
    title='Carpaccio client'
    style.
        body{
            background:#50B7DEFF;
        }
        .container{
            width:80%;
            margin:auto;
        }
body
    .container
        h1 Hello from client Server
        